.block-info {
  display: flex;
  flex-direction: column;
  &__title {
    margin-top: 0;
    margin-bottom: 8px;

    font-size: 48px;
    color: $black;
  }
  &__subtitle {
    margin-bottom: 70px;

    font-size: 16px;
    letter-spacing: $min-spacing;
    color: $brown;
  }
  &__text {
    font-size: 14px;
    line-height: 24px;
    letter-spacing: $min-spacing;
    color: $black;
  }
}
