.bread-icon {
  height: 10px;
  position: relative;
  &__image {
    position: absolute;
    top: -48px;
    left: 50%;
    transform: translateX(-50%);
    &:after {
      content: '';

      width: 80px;
      height: 80px;
      border-radius: 50%;

      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: -1;

      background-color: #fff;
    }
  }
}
