.description {
  background-image: 
  linear-gradient(to left, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1)),
  url('../img/description/background.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  &-block {
    padding: 100px 0;

    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &-info {
    max-width: 500px;

    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .block-info {
    margin-bottom: 45px;
    align-items: center;
    &__text {
      text-align: center;
    }
  }
  .chef-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    &__title {
      margin-bottom: 50px;

      font-size: 24px;
      color: $black;
    }
    &__profile {
      margin-bottom: 25px;

      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    &__image {
      margin: 0 20px;
      img {
        border: 4px solid #fff;
        border-radius: 50%;
      }
    }
    &__name {
      font-size: 24px;

      border-top: 1px solid $grey;
      border-bottom: 1px solid $grey;

      color: $black;
      &:first-child {
        padding: 20px 22px;
      }
      &:last-child {
        padding: 20px 14px;
      }
    }
    &__quote {
      width: 100%;
      height: 100px;

      display: flex;
      justify-content: space-between;
      span {
        max-width: 280px;
        font-size: 18px;

        align-self: center;
        text-align: center;

        color: $brown;
      }
      sup {
        font-size: 24px;
        align-self: flex-start;
        color: $black;
      }
      sub {
        font-size: 24px;
        align-self: flex-end;
        color: $black;
      }
    }
  }
  &-images {
    width: 630px;

    position: relative;
    &__list {
      display: flex;
      flex-wrap: wrap;
    }
    &__item {
      display: flex;
      margin: 9px;

      outline: 5px solid #fff;
      outline-offset: -12px;
    }
    &__circle {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);

      opacity: 0.95;
      &:after {
        content: 'TASTES SO GOOD!';

        width: 100%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        font-size: 28px;
        text-align: center;
        letter-spacing: $min-spacing;
        color: $yellow;
      }
    }
  }
}
