.header {
  background-image: url('../img/hero/background.jpeg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;

  position: relative;
  &::before {
    content: '';

    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;

    background-color: $grey;
  }
  &-block {
    padding: 30px 0;

    position: relative;
    z-index: 1;

    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .logo {
    font-size: 30px;
    color: $white;
  }
  .navbar {
    flex: 0 1 770px;
    &__item {
      color: $white;
    }
    &__link {
      color: $white;
    }
  }
  .social {
    flex-basis: 100px;
  }
}
