.hero {
  background-image: url('../img/hero/background.jpeg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;

  position: relative;
  &:before {
    content: '';

    position: absolute;
    top: 0;
    left: 15%;
    width: 70%;
    height: 100%;
    z-index: 0;

    clip-path: ellipse(50% 55% at 50% 45%);
    background-color: rgba(131, 79, 78, 0.6);
  }
  &-block {
    padding: 215px 0;

    position: relative;
    z-index: 1;

    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__title {
    margin-bottom: 55px;

    font-size: 90px;
    letter-spacing: $max-spacing;

    color: $white;
  }
  &__dashed-line {
    margin-bottom: 70px;
  }
  &__text {
    max-width: 550px;
    margin-bottom: 70px;

    font-size: 24px;
    letter-spacing: $min-spacing;

    text-align: center;
    color: $white;
  }
  &__button {
    padding: 20px 50px;
    letter-spacing: $max-spacing;

    border: 1px dashed $white;

    color: $white;
    background-color: $grey;
  }
}
