.meal {
  background-image: url('../img/meal/background.jpeg');
  background-repeat: no-repeat;
  background-position: right;
  background-size: cover;
  background-attachment: fixed;
  &-block {
    padding: 100px 0;

    display: flex;
    align-items: stretch;
    justify-content: center;
  }
  &__visual {
    position: relative;
  }
  &__rating {
    position: absolute;
    left: 30px;
    top: 50%;
    z-index: 2;
    transform: translateY(-60%);
  }
  &__star {
    margin-bottom: 8px;
    display: flex;
    &:last-child {
      margin-bottom: 0;
    }
  }
  &__image {
    display: flex;
    position: relative;

    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 12% 100%, 0 90%);
    &:after {
      content: '';

      position: absolute;
      left: 0;
      bottom: 0;
      width: 50px;
      height: 50px;
      background-image: url('../img/meal/angle.png');
      background-repeat: no-repeat;
    }
  }
  &__switcher {
    padding: 16px;

    position: absolute;
    top: 50%;
    right: -25px;
    z-index: 2;
    transform: translateY(-50%);

    border-radius: 50%;
    background-color: #fff;
    color: $yellow;
  }
  &__description {
    padding: 0 60px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    position: relative;
    z-index: 1;

    background-color: #fff;
    &:before {
      content: '';
      width: 100%;
      height: 100%;

      position: absolute;
      bottom: 0;
      right: 0;
      z-index: -1;

      background-image: url('../img/meal/info-bg.png');
      background-position: right bottom;
      background-repeat: no-repeat;
    }
  }
  &__time {
    width: 200px;
    height: 200px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    position: absolute;
    top: -10%;
    right: -20%;

    background-color: #fff;
    box-shadow: -5px 5px 50px $grey;
    &:before {
      content: '';
      width: 100%;
      height: 100%;

      position: absolute;

      background-image: url('../img/meal/time-bg.png');
      background-repeat: no-repeat;
      opacity: 0.1;
    }
    &-ready {
      font-size: 18px;
      color: $brown;
    }
    &-numbers {
      margin-top: 24px;
      margin-bottom: -12px;

      font-size: 80px;
      color: $yellow;
    }
    &-mins {
      font-size: 16px;
      color: $grey;
    }
  }
  &__info {
    width: 480px;
    margin-top: 40px;
  }
  &-slider {
    max-width: 450px; 
    margin-bottom: 40px;

    display: flex;
    align-items: center;
    justify-content: space-between;
    &__list {
      flex: 0 1 100%;
      display: flex;
      align-items: center;
      justify-content: space-around;
    }
    &__icon {
      img {
        border-radius: 50%;
      }
    }
    &__button {
      width: 33px;
      height: 33px;

      flex-shrink: 0;
      display: flex;
      justify-content: center;
      align-items: center;

      border: 2px solid #000;
      border-radius: 50%;

      cursor: pointer;
      &:hover {
        .meal-slider__arrow {
          border-color: $brown;
        }
        border-color: $brown;
      }
    }
    &__arrow {
      border: solid $black;
      border-width: 0 1px 1px 0;
      display: inline-block;
      padding: 4px;
      &_left {
        transform: rotate(135deg);
        margin-left: 5px;
      }
      &_right {
        transform: rotate(-45deg);
        margin-right: 5px;
      }
    }
  }
}
