.menu {
  background-image: url('../img/menu/background.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  overflow: hidden;

  position: relative;
  &:after {
    content: '';
    width: 100%;
    height: 100%;

    position: absolute;
    bottom: 0;
    right: -50px;

    background-image: url('../img/menu/menu-icon.png');
    background-repeat: no-repeat;
    background-position: bottom right;
    opacity: 0.1;
  }
  &-block {
    padding-top: 90px;
    padding-bottom: 70px;

    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__title {
    font-size: 60px;
    color: $white;
  }
  &__subtitle {
    margin-bottom: 65px;
    font-size: 18px;
    color: $brown-light;
  }
  &__info {
    width: 100%;

    display: flex;
    align-items: center;
    flex-direction: column;

    text-align: center;
    &-list {
      display: flex;
      align-items: center;
      flex-direction: column;
    }
    &-item {
      display: flex;
      align-items: center;
      flex-direction: column;
    }
    &-title {
      margin-bottom: 8px;
      font-size: 30px;
      color: $white;
    }
    &-text {
      margin-bottom: 28px;
      font-size: 16px;
      color: $white;
    }
    &-price {
      margin-bottom: 12px;
      font-size: 24px;
      color: $yellow-light;
    }
    &-icon {
      margin-bottom: 12px;
      opacity: 0.3;
    }
  }
  &__list {
    position: relative;
    z-index: 1;

    display: flex;
    align-items: center;
    flex-direction: column;

    text-align: center;
  }
  &__item {
    padding: 45px 35px 55px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    outline: 2px dashed $grey;
    outline-offset: -10px;
    clip-path: polygon(0% 0%, 110% 0%, 110% 100%, 7% 100%, 0 95%);
    background-color: #f3f1e9;
    &:after {
      content: '';

      position: absolute;
      left: 0;
      bottom: 0;
      width: 30px;
      height: 30px;
      background-image: url('../img/meal/angle.png');
      background-repeat: no-repeat;
    }
    &-sign {
      width: 100%;

      display: flex;
      align-items: center;
      justify-content: space-around;

      color: $black;
    }
    &-icon {
      margin-bottom: 65px;
    }
    &-title {
      margin-bottom: 35px;

      font-size: 36px;
      color: $black;
    }
    &-text {
      margin-bottom: 45px;

      line-height: 36px;
      color: $black;
    }
    &-button {
      margin-bottom: 65px;
      padding: 20px 70px;

      border: 1px solid $grey;
      font-weight: bold;
      color: $brown;
    }
    &_big {
      width: 440px;
      height: 600px;

      box-shadow: 0 0 20px #000;
    }
    &_med {
      width: 400px;
      height: 550px;

      position: absolute;
      right: -12px;
      top: 50%;
      transform: translateY(-50%);
      z-index: -1;

      box-shadow: 0 0 20px #000;
    }
    &_small {
      width: 360px;
      height: 500px;

      position: absolute;
      right: -24px;
      top: 50%;
      transform: translateY(-50%);
      z-index: -2;

      box-shadow: 0 0 20px #000;
    }
  }
}
