.navbar {
  &__list {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  &__item {
    font-size: 14px;
    letter-spacing: $max-spacing;
  }
  &__link {
    text-decoration: none;
  }
}
