$min-spacing: 1px;
$max-spacing: 5px;

* {
  box-sizing: border-box;
}
body {
  margin: 0;
}
.container {
  width: 1170px;
  margin: 0 auto;
}
.list {
  margin: 0;
  padding-left: 0;
  list-style-type: none;
}
.title {
  margin: 0;
}
.button {
  text-align: center;
  text-decoration: none;
  cursor: pointer;
}
